!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %p
      - if current_user
        = link_to "投稿する", new_post_path, class: "btn btn-success"
        = link_to "ログアウト", destroy_user_session_path, class:"btn btn-danger"
      - if !current_user
        = link_to "ログイン", new_user_session_path, class: "btn btn-outline-success"
        = link_to "ユーザー登録", new_user_registration_path, class: "btn btn-outline-info"

    - if @posts
      - @posts.each do |p|
        - if p.image.attached?
          = image_tag p.image.variant(resize:'800x800').processed
        = p.caption
        - if p.user != nil
          = p.user.email
