!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %p
      = link_to "New Post", new_post_path, class: "btn btn-success"
      = link_to "Sign In", new_user_session_path, class: "btn btn-outline-success"
      = link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-info"

    - if @posts
      - @posts.each do |p|
        - if p.image.attached?
          = image_tag p.image.variant(resize:'800x800').processed
        = p.caption
